<ul class="menu-links">
    <li class="menu-item">
        <a class="link" href="{{ make_url "codigo-conduta" }}">Código de conduta</a>
    </li>
    <li class="menu-item">
        <a class="link" href="{{ make_url "media_kit.pdf" }}">Media Kit</a>
    </li>
    <li class="menu-item">
        <a class="link" href="{{ make_url "apoie" }}">Apoie</a>
    </li>
</ul>