.about-section {
  width: 100vw;
  height: 65vh;
  background-color: var(--fossday-green);
  display: flex;
  flex-direction: row !important;
  gap: 0;
  justify-content: center;

  .about-content {
    padding: 0 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .information-container {
        .section-title {
          display: flex;
          justify-content: center;
            .title {
                color: #fff;
                background-color: rgba(255,255,255,.1);
                border-radius: 0.5em;
                padding: 0.5em 1em;
            }
        }
    }
  }
}
