<section class="home-banner container">
    <div class="video-container">
        <div class="video-overlay"></div>
        <video autoplay="" loop="" muted="">
            <source src="{{ make_url "videos/fossday.webm" }}" type="video/webm">
        </video>
        </video>
    </div>
    <div class="event-content">
        <h1>17 a 23 de Outubro 2022</h1>
        <p>Palestras sobre tecnologia, Software Livre e Open Source.
            São 5 horas de conteúdo gratuito em português. O evento é universal e sem fins lucrativos.
            Pela comunidade e para a comunidade.</p>
        <button>Quero participar</button>
    </div>
</section>