* {
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #a8a3b9;
    --light-grey-color: #f5f4f8;
    --border: #eae7f5;
    --anchor: #18113c;
    --text-color: #5c5776;
    --text-color-light: #5c5776;
    --text-color-dark: #18113c;
    --red-color: #e53f3c;
    --primary-color: #754ffe;
    --primary-color-hover: #6343d8;
    --secondary-color: #18113c;
    --secondary-color-hover: #04030a;
    --header-link-color: #18113c;
    --header-link-hover-color: #754ffe;
    --border-color: #dbd8e9;
    --button-border-color: #1c1d1f;

    --article-text-color: #444;
    --article-figcaption-bg: #f6f6f6;
    --article-figcaption-color: #555;

    --fossday-green: #00974d;
}