* {
    font-family: inter, open sans, sans-serif;
    font-size: 16px;
    font-smooth: antialiased;
    box-sizing: border-box;
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inter, open sans, sans-serif;
    letter-spacing: -0.03rem;
    font-weight: 500;
    line-height: 1.4;
    color: var(--anchor);
}

p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
    color: var(--text-color);
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
    @media screen and (max-width: 990px) {
        font-size: 1.5rem;
    }
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.8rem;
}