{{#*inline "page"}}

<main class="main home-content">
    {{> pages/home/banner }}
    {{> pages/home/about }}
    {{> pages/home/online_content }}
    {{> pages/home/become_sponsor }}
    {{> pages/home/get_sponsors }}
    {{> pages/home/faq }}
</main>

{{/inline}}
{{> base}}
